body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color:#3498db ;
}
p{
    margin-top: 3px;
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 320px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="number"] {
    width: 290px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="button"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
#result {
    padding: 7px;
    background-color:#007BFF;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    form {
        padding: 10px;
    }

    input[type="number"] {
        padding: 8px;
    }

    input[type="button"] {
        padding: 8px 16px;
    }

    #result {
        padding: 10px;
    }
}
